<%- include("header") -%>

<h2>About ToDo list</h2>

<p>
    This is a simple ToDo List Website created by Arijeet in 2021 during the Web Development Course. It was fun learning new things
</p>
<p>
    You may add your own customized list using / in the url home page.
</p>

<%- include("footer") -%>